/* Reset e Base */
/* Zerando as configurações de CSS e iniciando uma Base*/
* {
  box-sizing: border-box; /*tamanho max da tela*/
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.3s ease; /* Tudo que estiver dentro do projeto vai ter uma transição de 0.3s*/
}